<!DOCTYPE html>
<html ng-app="CCurrencyApp">
  <head>
    <title>CCurrency Reports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/js/controllers.js"></script>
    <link rel="stylesheet" href="/css/custom.css">
  </head>
<body ng-controller="CurrencyListCtrl">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <span class="navbar-brand" href="#"><span class="glyphicon glyphicon-stats"></span> CryptoCurrency Tracker</span>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!--Sidebar content-->
        Search: <input class="form-control" ng-model="query">
        Sort by:
        <select class="form-control" ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="id">ID</option>
          <option value="-price_btc">Price BTC</option>
          <option value="-volume_btc">Volume BTC</option>
        </select>

      </div>
      <div class="col-md-4">
        <!--Body content-->

        <table class="table">
          <tr>
            <th>Currency</th>
            <th>ID</td>
            <th>Price BTC</td>
            <th>Volume BTC</td>
          </tr>
          <tr ng-repeat="currency in currencies | filter:query | orderBy:orderProp">
            <td><a href = "{{currency.website}}" target="website">{{currency.name}}</a></td>
            <td>{{currency.id}}</td>
            <td>${{currency.price_btc}}</td>
            <td>{{currency.volume_btc}}</td>
          </tr>
        </table>

      </div>
      <div class="col-md-4 chart">
        <div ng-repeat="currency in currencies | filter:query | orderBy:orderProp"  style="width: {{currency.price_btc *2}}px;">{{currency.price_btc }}</div>
      </div>
    </div>
  </div>

</body>
</html>

<script src="js/d3.js"></script>