<!DOCTYPE html>
<html ng-app="CCurrencyApp">
  <head>
    <title>CryptoCurrency Reports</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/ccurrency.js"></script>
  </head>
<body ng-controller="CurrencyListCtrl">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
      <span class="navbar-brand" href="#"><span class="glyphicon glyphicon-stats"></span> CryptoCurrency Reports</span>
    </div>
  </nav> 
  <div class="container">
    <div class="row">  
      <div class="col-sm-6">
        <!--Sidebar content-->
        <form class="form-inline" role="form">
          <div class="form-group">
            <div class="controls">
              <input class="form-control" ng-model="query" placeholder="Search Currency">
            </div>
          </div>
          <div class="form-group">
          Sort by:
            <select class="form-control" ng-model="orderProp">
              <option value="name">Alphabetical</option>
              <option value="id">ID</option>
              <option value="-price_btc">Price BTC</option>
              <option value="-volume_btc">Volume BTC</option>
            </select>
          </div>
        </form>
      </div>
      <div class="col-sm-6 align-vert">
        <span id="date">date</span>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-12">
        <!--Body content-->
        <table class="table table-responsive">
          <tr>
            <th>Currency</th>
            <th>ID</td>
            <th>Price BTC</td>
            <th>Volume BTC</td>
          </tr>
          <tr ng-repeat="currency in currencies | filter:query | orderBy:orderProp">
            <td><strong>{{currency.name | limitTo:10}}<strong></td>
            <td>{{currency.id }}</td>
            <td>${{currency.price_btc | limitTo:8 }}</td>
            <td>{{currency.volume_btc | limitTo:7}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>


